/* CAJA DE TABLAS*/

.table-box {
    background-color: #f6f6f6 !important;
}

.table-mark {
    background-color: #fdfdfd;
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%), inset 0 -1px 0 rgb(0 0 0 / 20%);
    border-radius: 0.5em;
}

/* VENTANA MODAL*/

.modal-header {
    background-color: #f4f4f4;
}

.disabled {
    background: #f7f7f7 !important;
    font-size: 0.9em;
    padding: 0.8em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1) !important;
}

.active {
    font-size: 0.9em;
    padding: 0.8em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1) !important;
}

@media (max-width: 600px) {

    .table-mark {
        font-size: 0.6rem;
    }

    .option-buttons {
        border: 1px solid red;
        position: relative !important;
        display: inline-block !important;
    }

    .tool {
        color: red !important;
    }

    .navbar-toggler-icon {
        color: #fff !important;
    }

}

@media (max-width: 300px) {

    .table-mark tr {
        font-size: 0.6em;
        width: 1em;
    }

    .news-body {
        justify-content: center;
        margin: 0 5%;
    }

}

/* NOVEDADES */

.news-body {
    justify-content: center;
    margin: 0 15%;
    position: relative;
    height: 21rem;
    overflow: auto;
}

.news-content {

    font-size: 1.1em;
}

.box-content {
    padding: 0.5em;
    width: 100%;
    word-wrap: break-word;

}